.search-box {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 90%;
    padding: 10px 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    cursor: text;
    transition: box-shadow 0.2s;
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-box:hover {
    box-shadow: 0 1px 8px rgba(32, 33, 36, 0.4);
}

.search-box input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0 10px;
    background-color: transparent;
    width: 100%;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

.icon-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-mic,
.icon-camera {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .search-box {
        width: 95%;
        padding: 8px 15px;
    }
    
    .icon {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .search-box {
        width: 100%;
        padding: 8px 12px;
    }
    
    .icon {
        font-size: 16px;
    }
    
    .icon-group {
        gap: 8px;
    }
    
    .search-box input {
        font-size: 14px;
        margin: 0 6px;
    }
}